# Python virtual environments
.venv/
venv/
**/venv/
**/.venv/

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class

# Application runtime logs and audio dumps
*.log
**/*.log
*.wav
**/*.wav

# macOS system files
.DS_Store
**/.DS_Store
